<div class="col-md-4">
    <div class="thumbnail">
        <%= image_tag place.image(:medium), class: "img-responsive" %>
        <div class="caption">
           <h4><%= place.title %></h4>
           <p><%= place.description %></p>
           <p align="center"><%= button_to "Open", place_path(place), method: :get, class: "btn btn-primary btn-block" %></p>     
       </div>
   </div>
</div>