<h2><%= @place.title %></h2>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-11" >
            <ul class="thumbnails">
                <%= render @place.items %>
            </ul>
        </div>
        <% if user_signed_in? %>
            <%= render 'carts/cart' %>
        <% end %>
    </div>
</div>

